language: generic 

sudo: required

services:
  - docker

before_install:
  - docker build -t betadev07/todo-client -f Dockerfile.dev .
script:
  - docker run -e CI=true betadev07/todo-client npm run test
deploy:
  provider: elasticbeanstalk
  app: "docker-react-client"
  env: "Dockerreactclient-env"
  region: "ap-south-1"
  bucket_name: "elasticbeanstalk-ap-south-1-941450861109"
  bucket_path: "docker-react-client"
  on:
    branch: master
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: "$AWS_SECRET_KEY"
  